@font-face {
    font-family: "Inter Medium";
    src: url("../Fonts/Inter-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Semi";
    src: url("../Fonts/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Regular";
    src: url("../Fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Leckerli";
    src: url("../Fonts/LeckerliOne-Regular.ttf") format("truetype");
}

.edit {
    text-decoration: underline;
}

#newPostButton {
    margin-top: 20px; 
    margin-bottom: 20px;
    margin-left: 25%;
    background-color: #398E11;
    color: white;
    font-family: 'Inter Regular';
    font-size: 13px;
}

#newPostButton:hover {
    background-color: #2e7d32;
}

.container {
    display: flex;
}

.posts-list {
    list-style: none;
    padding: 0;
}

.posts-list li {
    background-color: #cac3c2; 
    padding: 10px; 
    margin-bottom: 15px; 
    font-family: 'Inter Regular';
    font-size: 16px;
}

#blogPosts {
    width: 20%; 
    background-color: #EBE4E2;
    padding: 1rem;
}

.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    max-width: 800px; 
    margin: auto;
    position: relative; 
}

.post-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 50px;
    margin-top: 15px;
    width: 400px;  
    height: 300px; 
    object-fit: cover;
}

.post-container h2 {
    margin-bottom: 20px;
    font-family: 'Leckerli';
    color: #532F27;
    font-size: 32px;
}

.post-container p {
    margin-bottom: 10px;
    font-family: 'Inter Regular';
    font-size: 16px;
    text-align: left;
    max-width: 50%; 
    margin: 0 auto; 
}

.post-meta {
    font-style: italic;
    padding-top: 2rem;
}


#postDetail {
    width: 70%;
    padding: 2rem;
}


#detailTitle {
    font-family: 'Leckerli';
}


#postEdit {
    width: 70%; 
    padding: 2rem;
}

.post-item { 
    padding: 10px; 
    margin-bottom: 10px; 
    background-color: #D5CAC7; 
    cursor: pointer; 
}
        
.post-item:hover { 
    background-color: #B8ACA9; 
}

.post-item.selected { 
    background-color: #A89C99; 
}

#postForm label {
    display: block;
    margin-bottom: 5px;
}

#postForm input[type="text"],
#postForm textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#postButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

#postButton:hover {
    background-color: #2e7d32;
}

#deletePostButton, .delete-post-button {
    background-color:  #D22626;
    color: white;
    display: block;
    margin-top: 1rem;
    cursor: pointer;
}

#deletePostButton:hover {
    background-color:#b21010 ;
}

#editPostContainer {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

#editPostButton {
    background-color: white;
    color: black;
    padding: 8px 18px;
    border-style: solid;
    border-radius: 4px;
    border-color: black;
    cursor: pointer;
}

#editPostButton:hover {
    background-color: #e1dcdc; 
}


#editIcon {
    font-size: 20px;
    margin-right: 5px; 
}


#postButton button:hover {
    background-color: #45a049;
}

#detailAuthor,
#detailPublished,
#detailUpdated {
    font-style: italic; 
}

#detailBody {
    margin-bottom: 3rem;
}

@media only screen and (max-width: 600px) {
    .post-container img {
        margin-bottom: 20px; 
    }

    .post-container h2 {
        font-size: 24px; 
    }

    .post-container p {
        max-width: 90%; 
    }

    #blogPosts {
        width: 100%; 
    }

    #postEdit,
    #postDetail {
        width: 100%; 
    }

    #editPostButton {
        top: unset;
        bottom: 20px; 
        right: 20px; 
    }
}
