@font-face {
    font-family: "Inter Medium";
    src: url("../Fonts/Inter-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Semi";
    src: url("../Fonts/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Regular";
    src: url("../Fonts/Inter-Regular.ttf") format("truetype");
}

#newPostButton {
    margin-top: 20px; 
    margin-bottom: 20px;
    margin-left: 25%;
    background-color: #398E11;
    color: white;
    font-family: 'Inter Regular';
    font-size: 13px;
}

#newPostButton:hover {
    background-color: #2e7d32;
}

.container {
    display: flex;
}

.edit {
    text-decoration: underline;
}

#blogPosts {
    width: 20%; 
    background-color: #EBE4E2;
    padding: 1rem;
}

.posts-list li {
    background-color: #cac3c2; /* Darker background color */
    padding: 10px; /* Add padding for spacing */
    margin-bottom: 5px; /* Add margin at the bottom for spacing between each post */
    font-family: 'Inter Regular';
    font-size: 16px;
}

#postEdit {
    width: 70%; 
    padding: 2rem;
}

.posts-list {
    list-style: none;
    padding: 0;
}


#postForm label {
    display: block;
    margin-bottom: 5px;
}

#postForm input[type="text"],
#postForm textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#postForm button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

#postForm button:hover {
    background-color: #45a049;
}