@font-face {
    font-family: "Inter Regular";
    src: url("../Fonts/Inter-Regular.ttf") format("truetype");
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #532F27;
    margin-top: auto;
}

footer .logo {
    margin-top: 1rem;
}

.copyright {
    margin-top: 4rem;
}

