
@font-face {
    font-family: "Leckerli";
    src: url("../Fonts/LeckerliOne-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Medium";
    src: url("../Fonts/Inter-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Regular";
    src: url("../Fonts/Inter-Regular.ttf") format("truetype");
}

.feed {
    text-decoration: underline;
}

.h1 {
    text-align: center;
    font-family: 'Leckerli';
    color: #532F27;
    font-size: 44px;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    border: 1px solid black;
    margin-bottom: 5rem;
}

.carousel-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    transition: opacity 0.5s ease-in-out;
}

.post-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 15px;
    width: 400px;  /* Add this line to set a fixed width for the images */
    height: 300px; /* Add this line to set a fixed height for the images */
    object-fit: cover;
}

.post-container h2 {
    margin-bottom: 20px;
    font-family: 'Inter Regular';
    font-size: 32px;
    
}

.post-container p {
    margin-bottom: 10px;
    font-family: 'Inter Regular';
    font-size: 16px;
}

.post-body {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.read-more {
    color: blue;
    cursor: pointer;
    margin-top: 2rem;
    background: none;
}

.read-more:hover {
    text-decoration: underline;
}

button {
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.arrow {
    cursor: pointer;
    background: none;
    color: black;
    font-size: 30px;
}

.arrow:hover {
    color: #5a5a5a;
}

#prev {
    position: absolute;
    left: 60px;
}

#next {
    position: absolute;
    right: 60px;
}

.posts-title {
    text-align: center;
    font-family: 'Leckerli';
    font-size: xx-large;
    margin-bottom: 2rem;
    color: #532F27;
}


.post-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 20px;
    max-width: 800px;
    margin: auto;
}

.post-thumbnail {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 180px; /* fix size here */
    height: 180px; /* Fix size here*/
    overflow: hidden;
}

.post-thumbnail img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    cursor: pointer;
}

.post-thumbnail:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

.post-grid {
    margin-bottom: 5rem;
}