
@font-face {
    font-family: "Inter Medium";
    src: url("../Fonts/Inter-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Semi";
    src: url("../Fonts/Inter-SemiBold.ttf") format("truetype");
}

.register {
    text-decoration: underline;
}

.register-input {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.input input {
    background-color: #ECEAEA;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    padding-right: 5rem;
}

.input input::placeholder {
    color: #666;
}

.input.error input {
    border-color: #FF0000;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.error-message {
    color: #FF0000;
    margin-top: 2rem;
}

.name, .password, .email {
    background-color: #ECEAEA;
}

.name::placeholder, .password::placeholder, .email::placeholder {
    color: #666;
}

.name {
    margin-top: 4rem;
}

.name {
    margin-bottom: 1rem;
}

button {
    background-color: #306BB0;
    color: white;
    padding: 0.5rem 1rem;
    font-family: 'Inter Semi';
    cursor: pointer;
}


